.about-us {
    color: --var(--clr-dark);

    @media (min-width: 62em) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4em;
      }
      .cta {
          margin-left: 0;
          @media (max-width: 720px) {
            margin-bottom: 4em;
          }
      }
   

.title {
 
    @media (min-width: 62em) {
        width: 100%;
      }


    h2 {
        margin: 1rem 0;

    }

    p {
        margin-bottom: 2rem;
        font-family: var(--ff-secondary);
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: 1.7;
    }
}




    .images {
        display: flex;
        width: 100%;
        margin-top:1rem;

        img {
            width: 100%;
        }

        .image-02 {
            margin-top: 2rem;
            margin-left: 1rem;
        }

    }

}